*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 0.825rem;
	--color-one: #5282c4;
	--color-two: #111;
	--color-link: #ffffff;
}

body {
	margin: 0;
	color: var(--color-one);
	background-color: #111;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-two);
	outline: none;
	cursor: pointer;

	transition: color 0.4s ease-in-out;
}

a:hover {
	color: var(--color-link);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	background: transparent;
}

.frame {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem; 
	z-index: 1;
	pointer-events: none;
	display: grid;
	grid-gap: 1rem;

	grid-template-areas: 'title' 'links';
}

.frame a {
	pointer-events: auto;
}

.frame__title {
	margin: 0;
	font-weight: normal;
	grid-area: title;

	color: var(--color-two);
	background-color: var(--color-one);
	padding: 0.5rem;
	width: fit-content;

	font-size: 2rem;
	font-weight: 800;
}

.frame__links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	flex-wrap: wrap;
	grid-area: links;

	color: var(--color-two);
	background-color: var(--color-one);

	font-size: 1.5rem;
	font-weight: 800;


	padding: 0.75rem;
	width: fit-content;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	justify-content: flex-start;
	align-items: center;
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-areas: 'title links' 'demos demos';
		align-content: space-between;
		height: 100%;
		grid-gap: 0;
	}
	.frame__links {
		justify-self: end;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}